@import "@fortawesome/fontawesome-free/css/all.min.css";
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #020617;
  overflow-x: hidden;
}

body {
  font-family: Inter, system-ui, Arial, sans-serif;
}

app-root {
  display: block;
  min-height: 100vh;
  background: #020617;
}
